@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;350;400;500&display=swap");
html {
  --secondary-color: #edae0e;
  --primary-color: #000;
  --box-shadow-color-1: #bcbab4;
  --dull-color: #8697a8;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: #fefc62;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.secondary-text-color {
  color: var(--secondary-color);
}

.my-2rem {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Scrollbar */

*,
* * {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) #ccc;
}

*::-webkit-scrollbar,
* *::-webkit-scrollbar {
  width: 8px;
  scrollbar-color: var(--secondary-color) #ccc;
}

*::-webkit-scrollbar-track,
* *::-webkit-scrollbar-track {
  background: #ccc;
}

*::-webkit-scrollbar-thumb,
* *::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

aside,
main,
footer > :first-child,
header {
  background-color: #fff;
}

main {
  padding: 2rem !important;
}

@media screen and (min-width: 576px) {
  main {
    padding: 3rem !important;
  }
}

@media screen and (min-width: 992px) {
  main > div {
    height: 100% !important;
  }
  div.parent {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
  }
}

aside {
  padding: 3rem !important;
}

aside li a,
.side-nav li a {
  display: block;
  margin-bottom: 1rem;
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
}

aside li.active a,
.side-nav li.active a {
  font-size: 32px;
  font-weight: 500;
}

footer {
  margin-top: 4px;
}

footer > :first-child {
  outline: 4px solid #000000;
}

footer > :first-child .socials {
  padding: 2rem !important;
  padding-top: 1rem !important;
}

footer > :first-child .contact-btn {
  padding: 2rem 1rem 2rem 2rem !important;
  color: #fff;
  background-color: var(--secondary-color);
  cursor: pointer;
}

footer .bottom {
  padding: 0rem 2rem;
}

@media screen and (min-width: 576px) {
  footer > :first-child .socials {
    padding: 2rem 3rem !important;
  }

  footer > :first-child .contact-btn {
    padding: 2rem 1rem 2rem 3rem !important;
  }

  footer .bottom {
    padding: 0rem 3rem;
  }
}

@media screen and (min-width: 992px) {
  footer > :first-child .socials {
    padding: 2rem 0px 2rem 3rem !important;
  }
}

@media screen and (min-width: 992px) {
  main,
  aside,
  footer > :first-child .contact-btn {
    outline: 4px solid #000000;
  }

  footer > :first-child .contact-btn {
    background-color: var(--primary-color);
  }
}

footer > :first-child .contact-btn:hover {
  background-color: var(--secondary-color);
}

footer > :first-child .contact-btn > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 21px !important;
  line-height: 25px !important;
  font-weight: normal !important;
}

h1.name-div {
  font-size: 32px !important;
  line-height: 38px !important;
  font-weight: 350 !important;
}

section#intro .role {
  margin: 2rem 0rem;
}

section#intro .short-description {
  line-height: 34px;
  font-size: 1.125rem;
}

div.social-media-icon {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  div.social-media-icon {
    padding: 6px;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  min-height: 462px;
}

@media screen and (min-width: 992px) {
  main {
    height: 475px;
    overflow-y: auto;
  }
}

.contact-form-page {
  /* margin-top: -1.5rem; */
}

/* Forms */

.semi-bold {
  font-weight: 450;
}

input,
textarea {
  outline: 2px solid #212420;
  display: block;
  background-color: #efefef;
  width: 100%;
  border: none;
  padding: 12px 0 12px 15px;
  border-radius: 0 !important;
  font-size: 0.9rem;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--secondary-color);
}

input.error,
textarea.error {
  outline: 1px solid #d43742;
}

textarea {
  /* height: 120px; */
}

.error-message {
  color: #d43742;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  /* text-align: end; */
}

.btn {
  border-radius: 0;
}

.black-btn {
  padding: 20px 15px;
}

.black-btn:disabled {
  /* opacity: 1; */
}

.black-btn,
.black-btn:focus,
.black-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.black-btn.active {
  background-color: var(--secondary-color);
}

.black-btn.active,
.black-btn.active:focus,
.black-btn.active:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 303px) {
  .side-nav {
    width: 250px;
  }
}

.pointer {
  cursor: pointer;
}

.side-nav {
  height: 100vh;
  width: 300px;
  background-color: #fbfaf2;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 11;
}

.side-nav ul {
  /* display: none; */
  padding: 25px;
  padding-bottom: 0px;
  margin-top: 50px;
  left: 0;
  width: 300px;
  overflow: hidden;
}

.side-nav .social-media {
  padding: 25px;
  width: 80%;
}

.side-nav ul li {
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid #cbcbcb;
  margin-left: -25px;
  margin-right: -25px;
}

.side-nav ul li a {
  display: block;
  padding: 24px;
}

.logo {
  color: var(--secondary-color);
  position: absolute;
  z-index: 1;
  left: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  top: 1.6rem;
  cursor: pointer;
}

.menu_toggle,
.menu_toggle:focus {
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 2.5rem;
  top: 1.7rem;
  padding: 0.5rem;
}

@media screen and (min-width: 576px) {
  .menu_toggle {
    top: 2.7rem;
  }
  .logo {
    top: 2.6rem;
  }
}

/* Work experience */
.timeline-item:before {
  content: "";
  background-color: var(--primary-color);
  -webkit-box-shadow: 0 0 0 3px rgb(48 76 253 / 25%);
  box-shadow: 0 0 0 3px var(--box-shadow-color-1);
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -5px;
  height: 10px;
  width: 10px;
}

.timeline-item {
  border-left: 1px dashed var(--secondary-color);
  padding-bottom: 0.6rem;
  padding-left: 1.4rem;
  position: relative;
}

.timeline-item header {
  position: relative;
  top: -6px;
  margin-bottom: 0.5rem;
}

.timeline-item header > .meta-info {
}

.timeline-item .article-title {
  margin-bottom: 0;
}

.timeline-item .role {
  display: block;
  color: #202020;
  font-size: 14px;
}

.timeline-item .article-title .location {
  color: var(--dull-color);
  font-size: 14px;
}

.timeline-item .period {
  display: block;
  color: var(--dull-color);
  font-size: 14px;
}

.timeline-item .description {
  margin-bottom: 2rem;
}

ul.description {
  list-style: circle;
  padding-left: 1rem;
}

section#tech-stack {
  margin: 2rem 0rem;
}

section#tech-stack .stack {
  padding: 0rem 0.5rem;
}

.stack .tools > div {
  /* border: 2px dashed var(--primary-color); */
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  /* width: 110px; */
  text-align: center;
  background-color: #edae0e4f;
}
